services:
  backend:
    build: ./backend
    container_name: egg-clicker-backend
    image: ${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/egg-clicker-backend:latest
    ports:
      - "3001:3001"
    environment:
      NODE_ENV: production
      AWS_REGION: ${AWS_REGION}
      COGNITO_USER_POOL_ID: ${REACT_APP_COGNITO_USER_POOL_ID}
      COGNITO_APP_CLIENT_ID: ${REACT_APP_COGNITO_APP_CLIENT_ID}

  frontend:
    build: 
      context: ./frontend
      args:
        - REACT_APP_COGNITO_USER_POOL_ID=${REACT_APP_COGNITO_USER_POOL_ID}
        - REACT_APP_COGNITO_APP_CLIENT_ID=${REACT_APP_COGNITO_APP_CLIENT_ID}
        - REACT_APP_AWS_REGION=${REACT_APP_AWS_REGION}
    container_name: egg-clicker-frontend
    image: ${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/egg-clicker-frontend:latest
    ports:
      - "8080:80"
    depends_on:
      - backend