services:
  backend:
    build: ./backend
    container_name: egg-clicker-backend
    image: ${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/egg-clicker-backend:latest
    ports:
      - "3001:3001"
    environment:
      NODE_ENV: production
      AWS_REGION: ${AWS_REGION}

  frontend:
    build: ./frontend
    container_name: egg-clicker-frontend
    image: ${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/egg-clicker-frontend:latest
    ports:
      - "8080:80"
    depends_on:
      - backend